.Orange-Triple-Tab{
    background: rgba(255, 143, 40, 1);
    text-align: left;
}
.Title-Fifth-Package{
    width: 230px;
    background: rgba(140, 53, 227, 1);
    border-radius: 8px 8px 0px 0px;
}
.Text-Orange-Triple-Tab{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 21px;
}
.Footer-Container-Fifth-Package{
    background: rgba(140, 53, 227, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}
.Red-Tab{
    height: 50px;
    background: rgba(255, 78, 104, 1);
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 21px;
    color: white;
}
.White-Tab-Fifth-Package{
    padding-left: 21px;
    text-align: left;
    border: 1px solid;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 13.5px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
.Green-Mini-Tab1-5th-Package{
    width: 60px;
    height: 25px;
    background-color: rgba(129, 180, 46, 1);
    border: 1px solid rgba(129, 180, 46, 1);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 460%;
    left: 81%;
    border-bottom: none;
}
.Yellow-Mini-Tab2-5th-Package{
    width: 60px;
    height: 25px;
    background-color: rgba(255, 202, 0, 1);
    border: 1px solid rgba(255, 202, 0, 1);
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 473.9%;
    left: 89%;
    border-bottom: none;
}
.Orange-Mini-Tab3-5th-Package{
    width: 64px;
    height: 25px;
    background-color: rgba(255, 143, 40, 1);
    border: none;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 480.8%;
    left: 89.5%;
    border-bottom: none;
}
.Red-Mini-Tab4-5th-Package{
    width: 60px;
    height: 25px;
    background-color: rgba(255, 78, 104, 1);
    border: none;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 497.6%;
    left: 91.2%;
    border-bottom: none;
}
.White-Mini-Tab5-5th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 504.1%;
    left: 91.15%;
    border-bottom: none;
}
.White-Mini-Tab6-5th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 511.3%;
    left: 87%;
    border-bottom: none;
}
.White-Mini-Tab7-5th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 518.5%;
    left: 90%;
    border-bottom: none;
}
.White-Mini-Tab8-5th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 525.7%;
    left: 87%;
    border-bottom: none;
}
.White-Mini-Tab9-5th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 533%;
    left: 91.15%;
    border-bottom: none;
}