.Container-1st-Package{
    margin-left: 161px;
    display: flex;
    flex-direction: column;
}
.Title-First-Package{
    width: 230px;
    background-color: rgba(129, 180, 46, 1);
    border-radius: 8px 8px 0px 0px;
}
.Name-Package{
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.White-Tab{
    border: 1px solid;
    width: 228.5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.Text-White-Tab{
    padding-left: 21px;
    font-size: 15px;
}
.Footer-Container-First-Package{
    background-color: rgba(129, 180, 46, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}
.White-Mini-Tab1-1st-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -25.2%;
    left: 5%;
    border-bottom: none;
}
.White-Mini-Tab2-1st-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -22%;
    left: 73.3%;
    border-bottom: none;
}
.Price-Package{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin: 0;
}
.Footer-Button-First-Packages{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 6px 8px 6px 8px;
    gap: 10px;
    border-radius: 8px;
}