.Title-Fourth-Package{
    width: 230px;
    background: rgba(255, 78, 104, 1);
    border-radius: 8px 8px 0px 0px;
}
.Text-Green-Double-Tab{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 21px;
}
.Footer-Container-Fourth-Package{
    background: rgba(255, 78, 104, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}
.Green-Mini-Tab1-4th-Package{
    width: 60px;
    height: 25px;
    background-color: rgba(129, 180, 46, 1);
    border: 1px solid rgba(129, 180, 46, 1);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -52.5%;
    left: 5%;
    border-bottom: none;
}
.Yellow-Mini-Tab2-4th-Package{
    width: 60px;
    height: 25px;
    background-color: rgba(255, 202, 0, 1);
    border: 1px solid rgba(255, 202, 0, 1);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -43%;
    left: 58%;
    border-bottom: none;
}
.Orange-Mini-Tab3-4th-Package{
    width: 64px;
    height: 25px;
    background-color: rgba(255, 143, 40, 1);
    border: 1px solid none;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -39.8%;
    left: 63%;
    border-bottom: none;
}
.White-Mini-Tab4-4th-Package{
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -28.4%;
    left: 73.4%;
    border-bottom: none;
}