.Container-2nd-Package {
    display: flex;
    flex-direction: column;
}

.Title-Second-Package {
    width: 230px;
    background: rgba(255, 202, 0, 1);
    border-radius: 8px 8px 0px 0px;
}

.Name-Package {
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.White-Tab {
    border: 1px solid;
    width: 228.5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;
}

.Footer-Container-Second-Package {
    background: rgba(255, 202, 0, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}

.Price-Package {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin: 0;
}

.Footer-Button-Packages {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 6px 8px 6px 8px;
    gap: 10px;
    border-radius: 8px;
}

.Green-Tab-Second-Package {
    height: 100px;
    background-color: rgba(129, 180, 46, 1);
}

.Green-Mini-Tab1-2nd-Package {
    width: 60px;
    height: 25px;
    background-color: rgba(129, 180, 46, 1);
    border: 1px solid rgba(129, 180, 46, 1);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -480%;
    left: 5%;
    border-bottom: none;
}

.White-Mini-Tab2-2nd-Package {
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -334%;
    left: 55%;
    border-bottom: none;
}
