.Container-2nd-Package{
    display: flex;
    flex-direction: column;
}
.Title-Second-Package{
    width: 230px;
    background: rgba(255, 202, 0, 1);
    border-radius: 8px 8px 0px 0px;
}
.Name-Package{
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin-bottom: 0;
}
.White-Tab{
    border: 1px solid;
    width: 228.5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;
}
.Footer-Container-Second-Package{
    background: rgba(255, 202, 0, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}
.White-Mini-Tab1-1st-Package{
    width: 100px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: 2380.6%;
    right: 3%;
    border-bottom: none;
}
.Price-Package{
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
    margin: 0;
}
.Footer-Button-Packages{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 6px 8px 6px 8px;
    gap: 10px;
    border-radius: 8px;
}
.Green-Tab-Second-Package{
    height: 100px;
    background-color: rgba(129, 180, 46, 1);
}