.Container-3rd-Package {
    display: flex;
    flex-direction: column;
}

.Title-Third-Package {
    width: 230px;
    background: rgba(255, 143, 40, 1);
    border-radius: 8px 8px 0px 0px;
}

.Yellow-Tab {
    background-color: rgba(255, 202, 0, 1);
    width: 228.5px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    text-align: center;
}

.Footer-Container-Third-Package {
    background: rgba(255, 143, 40, 1);
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
    height: 70px;
}

.Text-Yellow-Tab {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 21px;
}

.Green-Mini-Tab1-3rd-Package {
    width: 60px;
    height: 25px;
    background-color: rgba(129, 180, 46, 1);
    border: 1px solid rgba(129, 180, 46, 1);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -308%;
    left: 5%;
    border-bottom: none;
}

.Yellow-Mini-Tab2-3rd-Package {
    width: 60px;
    height: 25px;
    background-color: rgba(255, 202, 0, 1);
    border: 1px solid rgba(255, 202, 0, 1);
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -251%;
    left: 58%;
    border-bottom: none;
}

.White-Mini-Tab3-3rd-Package {
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -234%;
    left: 64.3%;
    border-bottom: none;
}

.White-Mini-Tab4-3rd-Package {
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -213.8%;
    left: 73.3%;
    border-bottom: none;
}

.White-Mini-Tab5-3rd-Package {
    width: 60px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    top: -194%;
    left: 58%;
    border-bottom: none;
}
