.Title-Package{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding-left: 161px;
}
.Title-Text-Package{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding-left: 161px;
}
.Container-Choose-Package{
    display: flex;
    gap: 25px;
}
.GirlPhoto{
    position: absolute;
    top: 520%;
    left: 12%;
}
@media only screen and (max-width: 425px) {
    .Container-Choose-Package{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Title-Package{
        padding-left: 20px;
    }
    .Title-Text-Package{
        padding-left: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .Container-Choose-Package{
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .Title-Package{
        padding-left: 30px;
    }
    .Title-Text-Package{
        padding-left: 30px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Container-Choose-Package{
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .Title-Package{
        padding-left: 40px;
    }
    .Title-Text-Package{
        padding-left: 40px;
    }
}