.Header-Button{
    border: none;
    background-color: transparent;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.Container-Header-Button{
    display: flex;
    gap: 154px;
    justify-content: center;
    align-items: start;
    margin-top: 101px;
}
@media only screen and (max-width: 425px) {
    .Container-Header-Button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 10vh;
        margin: 0;
    }
  }
@media only screen and (max-width: 768px) {
    .Container-Header-Button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 10vh;
        margin: 0;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Container-Header-Button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 10vh;
        margin: 0;
    }
  }
