.Green-Rectangle-Columns{
    background-color: rgba(129, 180, 46, 1);
    border-radius: 20px;
    width: 360px;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 59.52px;
}
.Mini-Green-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(129, 180, 46, 1);
    border: none;
    border-radius: 20px;
    position: relative;
    top: -56%;
    right: 75%;
}
.Mini-Yellow-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 202, 0, 1);
    border: none;
    border-radius: 20px;
    position: relative;
    top: -56%;
}
.Mini-Red-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 78, 104, 1);
    border: none;
    border-radius: 20px;
    position: relative;
    top: -56%;
    right: -17%;
}
.Mini-Orange-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 143, 40, 1);
    border: none;
    border-radius: 20px;
    position: relative;
    top: -55%;
    right: 63%;
}
.Yellow-Rectangle-Columns{
    background-color: rgba(255, 202, 0, 1);
    border-radius: 20px;
    width: 360px;
    height: 111.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Orange-Rectangle-Columns{
    background-color: rgba(255, 143, 40, 1);
    border-radius: 20px;
    width: 360px;
    height: 214.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Red-Rectangle-Columns{
    background-color: rgba(255, 78, 104, 1);
    border-radius: 20px;
    width: 360px;
    height: 111.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Text-Rectangle-Columns{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.Container-MulticoloredColumn{
    margin-top: 179.43px;
    margin-bottom: 149px;
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
    .Green-Rectangle-Columns{
        width: 300px;
    }
    .Yellow-Rectangle-Columns{
        width: 300px;
    }
    .Orange-Rectangle-Columns{
        width: 300px;
    }
    .Red-Rectangle-Columns{
        width: 300px;
    }
    .Text-Rectangle-Coloms{
        font-size: 20px;
    }
    .Green-Rectangle-Columns{
        height: auto;
        width: auto;
    }
}
@media only screen and (max-width: 425px) {
    .Green-Rectangle-Columns{
        width: 200px;
        height: auto;
    }
    .Yellow-Rectangle-Columns{
        width: 200px;
        height: auto;
    }
    .Orange-Rectangle-Columns{
        width: 200px;
        height: auto;
    }
    .Red-Rectangle-Columns{
        width: 200px;
        height: auto;
    }
    .Text-Rectangle-Columns{
        font-size: 15px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 768px) {
    .Text-Rectangle-Coloms{
        font-size: 20px;
        font-weight: 500;
    }
    .Container-MulticoloredColumn{
        margin-bottom: 10px;
    }
    .Mini-Green-Rectangle-Columns{
        display: none;
    }
    .Mini-Yellow-Rectangle-Columns{
        display: none;
    }
    .Mini-Orange-Rectangle-Columns{
        display: none;
    }
    .Mini-Red-Rectangle-Columns{
        display: none;
    }
}