.Green-Rectangle-Columns{
    background-color: rgba(129, 180, 46, 1);
    border-radius: 20px;
    width: 360px;
    height: 150px;
    display: flex;
    align-items: center;
    padding-left: 59.52px;
}
.Mini-Green-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(129, 180, 46, 1);
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 191%;
    right: 53%;
}
.Mini-Yellow-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 202, 0, 1);
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 212%;
    right: 36%;
}
.Mini-Red-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 78, 104, 1);
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 257.5%;
    right: 36%;
}
.Mini-Orange-Rectangle-Columns{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 143, 40, 1);
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 227.5%;
    right: 53%;
}
.Yellow-Rectangle-Columns{
    background-color: rgba(255, 202, 0, 1);
    border-radius: 20px;
    width: 360px;
    height: 111.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Orange-Rectangle-Columns{
    background-color: rgba(255, 143, 40, 1);
    border-radius: 20px;
    width: 360px;
    height: 214.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Red-Rectangle-Columns{
    background-color: rgba(255, 78, 104, 1);
    border-radius: 20px;
    width: 360px;
    height: 111.59px;
    display: flex;
    align-items: center;
    padding-left: 59.52px
}
.Text-Rectangle-Columns{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.Container-MulticoloredColumn{
    margin-top: 179.43px;
    margin-bottom: 149px;
}