.Title-White-Line-Packages{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.03em;
    text-align: center;
    position: relative;
    display: flex;
    padding-left: 176px;
}
.Green-Line{
    background-color: rgba(129, 180, 46, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}
.Yellow-Line{
    background: rgba(255, 202, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}
.Orange-Line{
    background: rgba(255, 143, 40, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}
.Red-Line{
    background: rgba(255, 78, 104, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 122px;
}
.Text-Packages{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    padding-left: 176px;
    padding-right: 161px;
}
.Green-Rectangle{
    width: 150px;
    height: 100px;
    border-radius: 30px;
    border-top: 0;
    background-color: rgba(129, 180, 46, 1);
    position: absolute;
    right: 31%;
    bottom: -29%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Yellow-Rectangle{
    width: 150px;
    height: 100px;
    border-radius: 30px;
    border-top: 0;
    background-color: rgba(255, 202, 0, 1);
    position: absolute;
    right: 37%;
    bottom: -46%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Orange-Rectangle{
    width: 150px;
    height: 100px;
    border-radius: 30px;
    border-top: 0;
    background-color: rgba(255, 143, 40, 1);
    position: absolute;
    right: 43%;
    bottom: -63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Red-Rectangle{
    width: 150px;
    height: 100px;
    border-radius: 30px;
    border-top: 0;
    background-color: rgba(255, 78, 104, 1);
    position: absolute;
    right: 49%;
    bottom: -80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container-Packages{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 425px) {
    .Container-Packages{
        display: flex;
        flex-direction: column;
        max-width: 425px;
    }
    .Yellow-Rectangle, 
    .Green-Rectangle,
    .Orange-Rectangle,
    .Red-Rectangle{
        opacity: 0;
    }
    .Green-Line{
        display: flex;
        justify-content: start;
    }
  }
@media only screen and (max-width: 768px) {
    .Container-Packages{
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }
    .Yellow-Rectangle, 
    .Green-Rectangle,
    .Orange-Rectangle,
    .Red-Rectangle{
        opacity: 0;
    }
    .Text-Packages{
        font-family: Poppins;
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-align: left;
        padding-left: 80px;
        padding-right: 50px;
    }
    .Green-Line{
        background-color: rgba(129, 180, 46, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 122px;
    }
    .Title-White-Line-Packages{
        font-size: 35px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1023px) {
    .Container-Packages{
        display: flex;
        flex-direction: column;
    }
    .Yellow-Rectangle, 
    .Green-Rectangle,
    .Orange-Rectangle,
    .Red-Rectangle{
        opacity: 0;
    }
    .Title-White-Line-Packages{
        font-size: 50px;
        padding-left: 120px;
    }
    .Text-Packages{
        font-family: Poppins;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-align: left;
        padding-left: 120px;
        padding-right: 101px;
    }
  }
 