.White-Coloms{
    background-color: white;
    width: 360.07px;
    height: 110px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 44.52px;
}
.Text-White-Coloms{
    color: black;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}
.White-Rectangle1{
    width: 150px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -65%;
    right: 10%;
    border-bottom: none;
}
.White-Rectangle2{
    width: 100px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -65%;
    right: 7%;
    border-bottom: none;
}
.White-Rectangle3{
    width: 100px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -65%;
    right: -4%;
    border-bottom: none;
}
.White-Rectangle4{
    width: 100px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -65%;
    border-bottom: none;
}
.White-Rectangle5{
    width: 100px;
    height: 31.5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    top: -65%;
    border-bottom: none;
}
.Container-WhiteColumn{
    margin-top: 179.43px;
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
    .Text-White-Coloms{
        font-size: 20px;
    }
    .White-Rectangle1{
        display: none;
    }
}
@media only screen and (max-width: 425px) {
    .White-Coloms{
        width: 200px;
        font-size: 14px;
    }

}
@media only screen and (max-width: 768px) {
    .White-Coloms{
        height: auto;
    }
    .Text-White-Coloms{
        font-size: 17px;
    }
    .White-Rectangle1{
        display: none;
    }
    .White-Rectangle2{
        display: none;
    }
    .White-Rectangle3{
        display: none;
    }
    .White-Rectangle4{
        display: none;
    }
    .White-Rectangle5{
        display: none;
    }
}