.Arrow-Red{
    padding: 0px 45px 0px 115px;
}
@media only screen and (max-width: 425px) {
    .Arrow-Red{
        width: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .Arrow-Red{
        width: 50px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Arrow-Red{
        width: 90px;
    }
}