.Arrow-Orange{
    padding: 0px 62px 0px 100px;
}
@media only screen and (max-width: 425px) {
    .Arrow-Orange{
        width: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .Arrow-Orange{
        width: 50px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .Arrow-Orange{
        width: 90px;
    }
}